<ion-view title="Bible In One Year - About">
  <ion-content class="about-page" style="padding: 20px;">
    <h4>About Bible In One Year</h4>
    <p>Bible In One Year is made with loving care by <a class="{{theme}}" href="http://michael.gyarmathy.me">Michael Gyarmathy</a> in Texas.</p>
    <p>Please direct all questions, bug reports, and inquiries to <a class="{{theme}}" href="mailto:michael@gyarmathy.me">michael@gyarmathy.me</a>.</p>
    <p>Special thanks to <a class="{{theme}}" href="http://www.backtothebible.org/one-year-reading-plans">BackToTheBible.org</a> for all of the one-year reading plans.</p>
    <p>This app uses the <a class="{{theme}}" href="http://ionicframework.com/">Ionic Framework</a> and all icons belong to <a class="{{theme}}" href="http://ionicons.com/">Ionicons</a>.</p>
  </ion-content>
</ion-view>