<!DOCTYPE html>
<html ng-app="bibleInOneYearApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bible In One Year</title>
    <link rel="stylesheet" type="text/css" href="css/i.css">
    <script src="js/bundle.js"></script>
</head>
<body ng-controller="MainCtrl">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>Bible In One Year</h1>

                <button ng-click="start()">Get Started</button>
                <button ng-click="delete()">Delete</button>
                <br>
                <ul>
                    <li ng-repeat="day in readingPlan">
                        {{day.date}} -- {{day.scripture}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>