<ion-view title="Bible In One Year - About">
  <ion-content class="about-page" style="padding: 20px;">
    <div class="row">
      <div class="col-33">
        <img style="width: 100%; max-width: 300px; margin-top: 20px" src="img/icon.png"/>
      </div>
    </div>
    <h4>About Bible In One Year</h4>
    <p>Bible In One Year is made with loving care by <a class="{{mainVm.theme}}" style="cursor:pointer;" onclick="window.open('http://michael.gyarmathy.me', '_system');" >Michael Gyarmathy</a> in Texas.</p>
    <p>Please direct all questions, bug reports, and inquiries to <a class="{{mainVm.theme}}" onclick="window.open('mailto:michael@gyarmathy.me', '_system');" style="cursor:pointer;">michael@gyarmathy.me</a>.</p>
    <h4>Donate</h4>
    <p>If you have enjoyed using this app, please pay it forward and make a donation to <a class="{{mainVm.theme}}" style="cursor:pointer;" onclick="window.open('https://www.pioneerbible.org/give/whereneededmost', '_system');" >Pioneer Bible Translators</a>, which supports Bible Translation efforts worldwide.</p>
    <button style="width:100%" class="button {{mainVm.theme}}" onclick="window.open('https://www.pioneerbible.org/give/whereneededmost', '_system');">Donate Here</button>
    <h4>Credits</h4>
    <p>Special thanks to <a class="{{mainVm.theme}}" onclick="window.open('http://www.backtothebible.org/one-year-reading-plans', '_system');" style="cursor:pointer;">BackToTheBible.org</a> for all of the one-year reading plans.</p>
    <p>This app uses the <a class="{{mainVm.theme}}" onclick="window.open('http://ionicframework.com/')" style="cursor:pointer;">Ionic Framework</a> and all icons belong to <a class="{{mainVm.theme}}" onclick="window.open('http://ionicons.com/', '_system');" style="cursor:pointer;">Ionicons</a>.</p>
  </ion-content>
</ion-view>